@use 'mixins';
@use 'vars';

body {
    background-color: vars.$background-color;
    font: 100% vars.$font-stack;
    margin: 0;
    padding: 0;
}

.dashboard {
    background-color: vars.$form-background-color;
    position: fixed;
    height: 100vh;
    width: 20%;
    top: 0;
    text-align: left;

}

ul {
    list-style: none;
    padding-top: 12%;
}

li {
    margin-top: 13%;
    font-size: vars.$large-font;
}

.grid-container {
    @include mixins.grid(repeat(4, 1fr), 50% 20% 60% 80%, 1.5em);
    height: 100vh;
    margin-left: 22%;  
    margin-right: 2%;
    
}

.grid-item {
    background-color: vars.$form-background-color;
    border-radius: 1em;
}

.white {
    color: vars.$primary-text-color;
}


.off-white {
    color: vars.$secondary-text-color;
}

.item1 {
    grid-area: 1 / 1 / 2 / 5; 
}

.item2 , .item3, .item4, .item5 {
    @extend .white;
    @include mixins.flex(column, center, center);
    font-size: vars.$large-font;
    

}

.item6 {
    grid-area: 3 / 1 / 4 / 3;
    @include mixins.flex(column, start, center);
}

.item7 {
    grid-area: 3 / 3 / 4 / 5;
    @include mixins.flex(column, start, center);
}

.item8 {
    grid-area: 4 / 1 / 5 / 5;
}

h1 {
    margin-left: 22% ;
}


.dashboard-footer {
    @include mixins.flex(row, space-around, center);
    margin-top: 105%;
    font-size: 1.4em;
}

.red {
    color: red;
}
.profile-pic {
    @include mixins.image(20%, 20%, 50%);    
}

#sq {
    align-self: start;
    padding-left: 20%;
}

#age-chart , #gender-chart {
    margin-top: 2rem;
    height: 100%;
    
}

